td, tr {
    width: 25%;
    text-align: center; 
    vertical-align: middle;
}

marquee {
    color: cyan;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
}

  
 body {
    animation: pulse .2s infinite;
  }
  
  @keyframes pulse {
    0%, 100%  {
      background-color: lime;
    }
    33% {
      background-color: blue;
    }
    66% {
      background-color: #ff0080;
    }
  
  }


  #kocka {
    width: 100px;
    height: 100px;
    text-align: center; 
    top: 50%;
    background-color: red;
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
  }
  
  @-webkit-keyframes myfirst {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  
  @keyframes myfirst {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  